* {
  -webkit-touch-callout:none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust:none;             /* prevent webkit from resizing text to fit */
  -webkit-tap-highlight-color:rgba(0,0,0,0); /* prevent tap highlight color / shadow */
  //-webkit-user-select:none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

.overflow-touch {
  -webkit-overflow-scrolling : touch !important;
}

.dragdrop-container {
  overflow: hidden;
}

.dragdrop-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
}

.cdk-drag-preview {
  color: white;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.dragdrop-container.cdk-drop-list-dragging.dragdrop-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

// CardComponent classes
.card {
  @apply block box-border rounded w-full shadow bg-white dark:bg-black;
  &.chart {
    @apply bg-white dark:bg-gray-800;
  }
}

.card-header {
  @apply flex flex-row pt-1;
}

.card-content {
  @apply pb-1;
}

// DropdownMenuComponent classes
.dropdown-menu {
  @apply flex flex-col shadow rounded overflow-y-auto mt-1;
  > div {
    @apply border-gray-100;
  }
}

.dropdown-menu-item {
  @apply flex w-full justify-start cursor-pointer items-center py-2 px-3 border-transparent text-lg bg-white dark:bg-gray-700 border-l-2 hover:bg-gray-50 dark:hover:bg-gray-600 hover:border-gray-200 dark:hover:border-gray-400 select-none;
}

// InputComponent classes
.input-component {
  @apply bg-white dark:bg-black text-black dark:text-white p-1 flex border border-gray-200 rounded;
  > input {
    border-style: hidden;
    @apply appearance-none outline-none w-full text-gray-800 placeholder-gray-400 bg-white dark:bg-black text-black dark:text-white;
    &.sm {
      @apply text-sm py-px px-2;
    }
    &.md {
      @apply py-1 px-2;
    }
    &.lg {
      @apply text-lg py-2 px-2;
    }
  }
}
.input-clear-button {
  @apply rounded focus:outline-none bg-transparent text-gray-400 outline-none;
  &.sm {
    width: 1.4rem;
    height: 1.4rem;
  }
  &.md {
    @apply h-8 w-8;
  }
  &.lg {
    @apply h-10 w-10;
  }
}

// ModalComponent classes
.modal-component {
  @apply block shadow bg-white dark:bg-black text-black dark:text-white select-none w-96 max-w-xs;
  &.floating {
    @apply rounded;
  }
  &.full-height {
    @apply h-full;
  }
}
.modal-header {
  @apply flex flex-row;
}
.modal-content {
  @apply mt-5;
}
.modal-footer {
  @apply flex mt-3;
}
.modal-close-button {
  @apply h-8 w-8 focus:outline-none absolute rounded-full -right-2 -top-2 text-white bg-black dark:bg-gray-600 text-white;
}

// SelectComponent classes
.select-component {
  @apply bg-white dark:bg-black text-black dark:text-white p-1 flex border border-gray-200 rounded;
}
.select-label {
  @apply appearance-none outline-none w-full text-gray-800 dark:text-white cursor-pointer capitalize flex flex-row w-full justify-between;
  &.sm {
    @apply text-sm py-px px-2;
  }
  &.md {
    @apply py-1 px-2;
  }
  &.lg {
    @apply text-lg py-2 px-2;
  }
}
.select-chevron-container {
  @apply  w-8 border-l flex items-center border-gray-200;
  &.sm {
    @apply py-px pl-2 pr-1;
  }
  &.md {
    @apply py-1 pl-2 pr-1;
  }
  &.lg {
    @apply py-2 pl-2 pr-2;
  }
}
.select-chevron {
  @apply cursor-pointer text-gray-600 outline-none text-gray-300 dark:text-white;
  > icon {
    @apply align-middle;
  }
  &.sm {
    @apply pl-1.5;
  }
  &.md {
    @apply w-6 h-6;
  }
}
.select-placeholder {
  @apply appearance-none outline-none w-full text-gray-400 cursor-pointer select-none;
  &.sm {
    @apply text-sm py-px px-2;
  }
  &.md {
    @apply py-1 px-2;
  }
  &.lg {
    @apply text-lg py-2 px-2;
  }
}
.select-dropdown {
  @apply bg-white dark:bg-black flex flex-col shadow rounded overflow-y-auto overflow-x-hidden mt-1 max-h-60;
}
.select-option {
  @apply block cursor-pointer items-center p-2 border-transparent bg-white dark:bg-gray-700 text-black dark:text-white border-l-2 hover:bg-gray-50 dark:hover:bg-gray-600 hover:border-gray-200 dark:hover:border-gray-400 capitalize;
}
.select-clear-button {
  @apply h-6 w-6 rounded focus:outline-none bg-transparent text-gray-700 dark:text-gray-100 outline-none;
}

// ToastComponent classes
.toast-component {
  @apply flex flex-col rounded shadow-lg cursor-pointer;
  >.toast-content {
    @apply px-6 pt-5 flex flex-row content-center;
  }
}

// ToggleComponent classes
label.toggle {
  @apply inline-flex items-center cursor-pointer;
  >.toggle-container {
    @apply relative;
    >.toggle-bg {
      @apply block w-10 h-6 bg-gray-200 dark:bg-gray-800 rounded-full shadow-inner;
    }
  }
  &.disabled {
    @apply cursor-auto;
  }
}
.toggle-label {
  @apply ml-3;
}
.toggle-button {
  @apply absolute block w-4 h-4 mt-1 ml-1 rounded-full shadow inset-y-0 left-0 transition-transform duration-300 ease-in-out;
  &.checked {
    @apply transform translate-x-full;
  }

  &.unchecked {
    @apply bg-white dark:bg-black hover:bg-gray-100;
  }

  &.disabled {
    @apply bg-gray-100;
  }
}
input.toggle-checkbox {
  @apply absolute opacity-0 w-0 h-0;
}

// TooltipComponent classes
.tooltip-component {
  @apply py-1 px-3 bg-black rounded text-white text-sm shadow-lg font-bold;
  >svg {
    @apply absolute text-black h-2 w-full left-0 top-full;
  }
}

// ButtonDirective classes

.button {
  &:disabled {
    opacity: .5;
  }
  &.btn {
    @apply rounded focus:outline-none leading-none;
    &.primary {
      @apply bg-blue-300 dark:bg-blue-800 text-black dark:text-white;
      &.hover {
        @apply  hover:bg-blue-500 dark:hover:bg-blue-900;
      }
    }
    &.secondary {
      @apply bg-gray-300 dark:bg-gray-500 text-black dark:text-white;
      &.hover {
        @apply hover:bg-gray-600 dark:hover:bg-gray-600;
      }
    }
    &.success {
      @apply bg-green-300 dark:bg-green-500 text-black dark:text-white;
      &.hover {
        @apply hover:bg-green-400 dark:hover:bg-green-600;
      }
    }
    &.danger {
      @apply bg-red-300 dark:bg-red-800 text-black dark:text-white;
      &.hover {
        @apply hover:bg-red-600 dark:hover:bg-red-900;
      }
    }
    &.warning {
      @apply bg-yellow-300 dark:bg-yellow-500 text-black dark:text-white;
      &.hover {
        @apply hover:bg-yellow-600 dark:hover:bg-yellow-600;
      }
    }
    &.light {
      @apply bg-gray-200 text-black dark:bg-gray-100 dark:text-black;
      &.hover {
        @apply hover:bg-gray-300 dark:hover:bg-gray-300;
      }
    }
    &.dark {
      @apply bg-gray-700 dark:bg-gray-900 text-white dark:text-white;
      &.hover {
        @apply hover:bg-gray-800 dark:hover:bg-black;
      }
    }
  }


  &.icon {
    @apply h-8 w-8 rounded focus:outline-none bg-transparent flex justify-center items-center;
    &.hover {
      @apply hover:bg-gray-100 dark:hover:bg-gray-700;
    }
    &.wide {
      @apply w-14;
    }
    &.start {
      //justify-content: start !important;
      @apply justify-start pl-1;
    }
    &.end {
      //justify-content: end !important;
      @apply justify-end pr-1;
    }
  }

  &.link {
    @apply cursor-pointer rounded focus:outline-none leading-none bg-transparent text-indigo-400;
    &.box {
      @apply h-8 w-8 flex justify-center items-center;
    }
    &.hover {
      @apply hover:text-indigo-700;
    }
  }

  &.xs {
    @apply px-2 py-1 text-xs font-bold;
  }

  &.sm {
    @apply px-3 py-2 text-sm;
  }
  &.md {
    @apply px-4 py-3;
  }
  &.lg {
    @apply px-5 py-4 text-lg;
  }

}

// Accordion component

.accordion {
  @apply flex flex-col;
}
.accordion-item {
  @apply flex flex-col m-0 overflow-hidden;
}
.accordion-header {
  @apply cursor-pointer;
}
.accordion-body {
  @apply pt-2;
}

sndvll-accordion-item {
  &.disable-internal-padding {
    >.accordion-body {
      @apply pt-0;
    }
  }
}

// Alert component

.alert {
  @apply block rounded shadow bg-white dark:bg-black text-black dark:text-white select-none p-6 w-96 max-w-xs;
}
.alert-header {
  @apply flex flex-row justify-between;
}
.alert-content {
  @apply flex mt-5;
}
.alert-footer {
  @apply flex flex-row justify-between mt-5;
}

// SearchbarComponent
.search-bar {
  @apply bg-white dark:bg-black text-black dark:text-white p-1 flex flex-row border border-gray-200 rounded;
  > input {
    @apply w-full bg-white dark:bg-black;
    &.sm {
      @apply text-sm py-px px-2;
    }
    &.md {
      @apply py-1 px-2;
    }
    &.lg {
      @apply text-lg py-2 px-2;
    }
  }
}
.searchbar-search-icon {
  @apply border-l flex items-center border-gray-200 py-1 pl-2 pr-1 text-gray-500 dark:text-gray-200;
  &.sm, .md {
    @apply w-8;
  }
  &.lg {
    @apply w-10;
  }
}
.searchbar-clear-button-container {
  @apply  flex items-center justify-center;
  &.sm {
    @apply mr-1;
  }
}
.searchbar-clear-button {
  @apply rounded focus:outline-none bg-transparent text-gray-400 outline-none;
  &.sm {
    width: 1.4rem;
    height: 1.4rem;
  }
  &.md {
    @apply h-8 w-8;
  }
  &.lg {
    @apply h-10 w-10;
  }
}
